<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
<bean id="airtel" class="com.jspiders.pkg2.Airtel">
<property name="service" ref="dataService">
</property>
</bean>
<bean id="helloTune" class="com.jspiders.pkg2.HelloTuneService">
</bean>
<bean id="missedCall" class="com.jspiders.pkg2.MissedCallService">
</bean>
<bean id="dataService" class="com.jspiders.pkg2.DataService">
</bean>
</beans>